.container {
  width: 100%;
  height: 100vh;
}

.card_box_container {
  width: calc(100% - 250px);
  height: 100vh;
  display: flex;
  flex-flow: column;
  float: left;
  align-items: center;
  justify-content: center;
}

.card_main_container>h3 {
  margin: 0 0 10px 92px;
  cursor: pointer;
}

.card_main_container>h3>img {
  transform: rotate(180deg);
  width: 12px;
  margin-left: 10px;
}

.card_main_container {
  width: 100%;
  height: 28vh;
  margin-bottom: 32px;
}

.card_item {
  width: 100%;
  display: flex;
  justify-content: center;
}