.main_container {
  width: 530px;
  height: 340px;
  padding: 12px;
  border: 1px solid #f8f9fa;
  box-shadow: 0.5px 0.5px 10px #00000025;
  border-radius: 7px;
  margin: 0 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.main_container:hover {
  box-shadow: 4px 4px 10px #00000025;
  transform: scale(1.02);
}

.end {
  width: 85px;
  height: 30px;
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-bottom: 10px;
  background-color: red;
}

.imminent {
  width: 85px;
  height: 30px;
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-bottom: 10px;
  background-color: #ffbb3c;
}

.recruitment {
  width: 85px;
  height: 30px;
  font-size: 15px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  margin-bottom: 10px;
  background-color: #3cff69;
}

.button {
  position: relative;
  top: 45%;
  left: 58%;
  background-color: #3cff69;
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main_container {
    width: 350px;
    height: 400px;
    padding: 12px;
    border: 1px solid #f8f9fa;
    box-shadow: 0.5px 0.5px 10px #00000025;
    border-radius: 7px;
    margin: 10px 15px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
  }
  .button {
  position: relative;
  top: 45%;
  left: 36%;
  background-color: #3cff69;
  width: 100px;
  height: 34px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
}

@media screen and (min-width: 1800px) {
  .main_container {
    width: 700px;
    height: 400px;
    padding: 12px;
    border: 1px solid #f8f9fa;
    box-shadow: 0.5px 0.5px 10px #00000025;
    border-radius: 7px;
    margin: 10px 15px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
  }
}
