.Container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.main {
    float: left;
    width: calc(100% - 250px);
    height: calc(260px * 3);
    position: relative;
    top: calc(50% - 80px);
    transform: translate(0, -50%);
    display: flex;
}

.card_container {
    width: 100%;
    height: 250px;
    justify-content: center;
}
.big_card_container {
    width: 100%;
    height: 1005px;
    justify-content: center;
}

.big_card_container>div {
    margin: 35px 0;
}

.card_main_container {
    width: 600px;
    height: 100vh;
}

.big_card_main_container {
    width: 640px;
    height: 100vh;
}

.card_main_container > h3 {
    margin-left: 15px;
}

.main > h3 {
    cursor: pointer;
}

